<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">

        <title>home</title>
        <meta name="home page for portfolio site" content="Portfolio Projects">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link rel="stylesheet" href="./styles/main-styles.css">
    </head>

    <body>
        <div class="nav-bar-container fixed">
            <nav class="nav-bar">
                <ul>
                    <li onclick="windowScroll(1)">Home</li><!-- windowScroll function uses numbers to decide which element to scroll to. See element-scroll.js for a complete explanation. -->
                    <li onclick="windowScroll(2)">Projects</li>
                    <li onclick="windowScroll(3)">Contact</li>
                </ul>
            </nav>
        </div>
            <div class="landing-header" id="home">
                <h2 class="header-name">Josh Fowler</h2>
                <h4 class="header-title">Web Developer | Bug Fixer | Water Drinker </h4>
              <div class="arrow" onclick="windowScroll(2)"></div>
            </div>
      
      <div id="created-elements">
        <div class="created-modal-container" id="created-modal">
          <modal-create v-for="content in contents" v-bind:content="content"></modal-create>
        </div>
        <div class="project-spotlight-container" id="spotlight-container">
          <project-create class="project-create-container" v-for="content in contents" v-bind:content="content"></project-create>
        </div>
      </div>
      
    </body>

    <footer class="contact-info" id="contact-info">
        <p class="copyright">© 2018 Joshua Fowler. All rights reserved</p>
        <div class="footer-links-container">
            <a href="https://www.linkedin.com/in/joshua-fowler-1b0792169/" target="_blank" class="footer-links"><img src="images/technology-images/linkedin.svg" alt="LinkedIN logo image linked to LinkedIN profile"></a>
            <a href="https://github.com/IndecisiveBoolean" target="_blank" class="footer-links"><img src="images/technology-images/github.svg" alt="Github logo image linked to Github profile"></a>
            <a href="https://codepen.io/IndecisiveBoolean/#" target="_blank" class="footer-links"><img src="images/technology-images/codepen.svg" alt="Codepen logo image linked to Codepen profile"></a>
        </div>
    </footer>
    <script src="./scripts/element-scroll.js"></script>
    <script src="./scripts/projects-content.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./scripts/vm.js"></script>

</html>
